.jumbotron {
  background-image: url("/images/top6.PNG");
  height:520px;
}

.jumbotron h1 {
  color:#FFFFFF;
  font-size: 90px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.jumbotron p {
  color:#FFFFFF;
  margin-top:30px;
}

.guest-account{
  color:#708090;
}