.main-container {
  background-image: url("/images/top3.PNG");
  height: 500px;
}

.item{
  padding-top: 260px;
  padding-left: 150px;
}

.item p {
  color:#FFFFFF;
}

.guest-account{
  color:#708090;
}